* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?auto=format&fit=crop&w=1920&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px black;
    text-align: center;
    width: 450px;
    
}

.weather-card h2 {
    margin-bottom: 15px;
    color: #000000;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input {
    padding: 8px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    width: 200px;
}

.search-box button {
    padding: 8px 12px;
    border: none;
    border-radius: 0 5px 5px 0;
    background: transparent;
    border: 1px solid #444;
    cursor: pointer;
}

.weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp h1 {
    font-size: 2rem;
    color: #000000;
}

.temp h3 {
    color: #000000;
}

.icon img {
    width: 40px;
}

.icon p {
    font-size: 0.9rem;
    color: #1b1b1b;
}

.icon span {
    font-size: 0.8rem;
    color: #2d2d2d;
}
